# See http://help.github.com/ignore-files/ for more about ignoring files.

# Ignore bundler config
/.bundle
Gemfile.lock

*.gem

# OSX
.Spotlight-V100
.DS_Store
.Trashes


test/tmp

justincase.conf.json
